<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Something neat made by Orago, Again..">
    <meta property="og:title" content="<%- values.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://orago.tk" />
    <meta property="og:image" content="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie-2048px.png?v=1594354728664" />
    <meta property="og:description" content="Something neat made by Orago, again.." />
    <meta name="theme-color" content="#cb3837">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie32bfull.png">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie32bfull.png" type="image/x-icon">
    <title><%- values.title %></title><!-- Setting title with custom variables -->

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <script src="https://meown.glitch.me/tools/functionpack.js"></script>
  </head>
  <body>
    <header>
      <h1 id="textTitle"></h1><!-- A large text saying the name of current said board -->
    </header>
    <main>
      <p>Please note that anyone can see this!</p><!-- A disclaimer that the post you make may be seen by anyone on the board -->

      <form method="post" action="/new-post"><!-- Form field to send the data -->
        <label>
          New Post <!-- Text for the user to understand what the form is for -->
          <!-- The main text for a Anonymous post -->
          <input name="body" type="text" maxlength="100" required placeholder="New Post!">
          <!-- A name that can be toggled whether its usable or not. This makes it so people can be non-anonymous (Idk just though that I mine as well add it)-->
          <input name="name" type="text" maxlength="100" id="nameInput" class="name_input" placeholder="Name (Optional)">
          <!-- The name of your community "board" to send the post to -->
          <input id="inputName" name="" type="hidden" value="">
        </label>
        <button type="submit">Add Post</button><!-- Button to upload / create post -->
      </form>
    <hr>
      <section class="posts"><!-- A loader with javascript fetch to get all of the posts for a board -->
        <ul id="posts">
          <em>loading all of your anonymous hopes and dreams&hellip;</em>
        </ul>
      </section>
    </main>
  <hr>
    Made by <a href="https://meown.tk/u?search=orago">Orago</a>! | 
    <a href="/">Back</a>
  </body>
</html>
<script>
</script>
<div id="assets"></div><!--Loads the extra files that aren't written in the document.-->
