<link rel="stylesheet" href="/style.css">
<script src="/tools.js" defer></script>
<script src="https://meown.glitch.me/tools/functionpack.js"></script>
<div id="assets"></div>
    
    <title><%- values.title %></title>
    <h2>Welcome to <%- values.title %></h2>
    <br>
    <form method="get" action="/" id="findForm">
      <input name="search" type="text" maxlength="100" placeholder="Find Group" required>
      <button type="submit">Search</button>
    </form>
    <form method="post" action="/" id="createForm">
      <input name="board" type="text" maxlength="100" placeholder="Create A Group" required>
      <button type="submit">Create!</button>
    </form>
  <hr>
    <span id="links">

    </span>
  <hr>
    <div>
      <span id="groupsBefore">Current Groups</span>: <span id="groups"></span>
</div>
  <hr>


<script>

  async function Api(input){
    var o=o||"";
    var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
    return r;
  }
  
window.addEventListener("load", async function() {
  window.groupType = await Api(`options`).then((res)=>{return res.communityType;});
  window.groupListObject = document.getElementById(`groups`);
  window.groupList = await Api(`boards/boardList`).then((res)=>{return res;});
  groupList.forEach(addBoardToList);
  loadForms();
  loadLinks();
});
  
async function addBoardToList(item,index){
  var newGroupItem = document.createElement("a"),
      newdivider = document.createElement("a");
  newGroupItem.href = `/${groupType}?search=${item}`;
  newGroupItem.innerText = item.charAt(0).toUpperCase() + item.slice(1);
  groupListObject.appendChild(newGroupItem);
  if (groupList.length-index > 0){
    newdivider.innerText = " | ";
    groupListObject.appendChild(newdivider);
  }
}
async function loadForms(){
  var findForm = document.getElementById("findForm");
  findForm.setAttribute("action",`/${groupType}`)
  findForm.children[0].setAttribute("placeholder",`Find ${caps(groupType)}`);
  
  var createForm = document.getElementById("createForm");
  createForm.setAttribute("action",`/new-${groupType}`)
  createForm.children[0].setAttribute("placeholder",`Create A ${caps(groupType)}`);
  createForm.children[0].setAttribute("name",groupType);
}

async function loadLinks(){
  var links = document.getElementById("links");
   await Api(`options`).then((options)=>{
     document.getElementById("groupsBefore").innerHTML = `Current ${options.communityType}s`;
     links.innerHTML = `
      Links:
      <a href="/${ options.homepage.link }">${ options.homepage.text }</a> |
      <a href="/${ options.support.link }">${ options.support.text }</a> |
      <a href="/${groupType}?search=${ options.default }">Check the ${ options.default } ${groupType}</a>
     `;
   });
  

}
  
  
  
</script>