/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}
.name_input{
  display:none;
}
button.easter_egg{
  background: transparent;
  border: none !important;
  font-size:0;
  display : block;
  width   : 3px;
  height   : 3px;
  position:absolute;
  top:0;
  right:0;
}
#popup {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#popup.show {
  visibility: visible;
  -webkit-animation: fadein_popup 0.5s;
  animation: fadein_popup 0.5s;
}


body.retro {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1.retro {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form.retro {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input.retro {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form.retro button.retro {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form.retro button.retro:hover {
  background-color: lavender;
}

footer.retro {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
